main {
    &.main-view {
        &.booking {
            .selectors {
                display: flex;
                flex-flow: wrap;
                align-items: flex-end;
                .form-group {
                    margin-right: 1rem;
                }
            }
            table.booking {

                td {
                    &.approval {
                        background-color: $info-background;
                        i {
                            color: $info-text;
                            &.default {
                                display: inline;
                            }
                        }
                    }
                }
                &.approval, &.approved {
                    td {
                        &:hover {
                            cursor: not-allowed;
                            &:first-child {
                                background-color: initial;
                                cursor: auto;
                            }
                        }
                    }
                }
            }
        }
    }
}