main {
    &.main-view {
        &.summary-daily {

            .form-group {
                margin-right: 1rem;
            }

            .alert {
                margin-bottom: 1rem;
                margin-right: 0;
            }
            
            .form-group {
                margin-bottom: 0;

                select, .react-datepicker-wrapper {
                    margin-bottom: 1rem;
                }
            }
            .selectors {
                display: flex;
                flex-flow: wrap;
                align-items: flex-end;
            }
            .btn-toolbar {
                button {
                    margin: 0rem 1rem 1rem 0;
                }
            }

            table.summary-daily  {
                td {
                    &.approved,
                    &.current-added {
                        background-color: $success-background;
                        color: $success-text;
                    }
                }
                &.past {
                    td {
                        &.approved,
                        &.current-added,
                        &.current-removed {
                            background-color: $info-background;
                            color: $info-text;
                        }
                        &:hover {
                            cursor: not-allowed;
                        }
                    }
                }

                &.past,
                &.reservations {
                    td {
                        &:hover {
                            cursor: not-allowed;
                        }
                    }
                }
            }
        }
    }
}