main {
    &.main-view {
        &.technician {
            .selectors {
                display: flex;
                flex-flow: wrap;
                align-items: flex-end;
                .form-group {
                    margin-right: 1rem;
                }
            }

            table.technician {
                th:hover, td:first-child:hover {
                    cursor: pointer !important;
                }
                th:hover {
                    background-color: black;
                }
                td:first-child:hover {
                    background-color: $secondary-background;
                }
                td {
                    &:hover {
                        cursor: pointer;
                    }
                    position: relative;
                    .summary {
                        width: 12px;
                        height: 12px;
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        font-size: 0.7rem;
                    }
                }
                &.reservations {
                    td {
                        &:hover {
                            cursor: not-allowed;
                        }
                        &.editable,
                        &.approval,
                        &.approval-added,
                        &.approval-removed,
                        &.approved-added,
                        &.approved-removed,
                        &.approved,
                        &.current-added,
                        &.current-removed {
                            background-color: transparent;
                        }
                    }
                }
                &.approved {
                    td {
                        &:hover {
                            cursor: not-allowed;
                        }
                        &.editable,
                        &.approval,
                        &.approval-added,
                        &.approval-removed,
                        &.current-added,
                        &.current-removed {
                            background-color: transparent;
                        }
                    }
                }
            }
        }
    }
}
