main {
    &.main-view {
        &.technician {
            .selectors {
                display: flex;
                flex-flow: wrap;
                align-items: center;
                .form-group {
                    margin-right: 1rem;
                }
                .selectors-left {
                    display: flex;
                    flex: 1;
                    flex-flow: row wrap;
                }
                .selectors-right {
                    padding-left: 25px;
                    padding-right: 25px;
                    
                }
                justify-content: space-between;
            }

            table.technician {
                th:hover {
                    cursor: pointer;
                    &:first-child {
                        cursor: default;
                    }
                }
                th:hover {
                    background-color: black;
                }
                td:first-child:hover {
                    background-color: $secondary-background;
                }
                td {
                    &:hover {
                        cursor: pointer;
                        &:first-child {
                            cursor: default;
                        }
                    }
                    position: relative;
                    .summary {
                        width: 12px;
                        height: 12px;
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        font-size: 0.7rem;
                    }
                }
                &.reservations {
                    td {
                        &:hover {
                            cursor: not-allowed;
                        }
                        &.editable,
                        &.approval,
                        &.approval-added,
                        &.approval-removed,
                        &.approved-added,
                        &.approved-removed,
                        &.approved,
                        &.current-added,
                        &.current-removed {
                            background-color: transparent;
                        }
                    }
                }
                &.approved {
                    td {
                        &:hover {
                            cursor: not-allowed;
                        }
                        &.editable,
                        &.approval,
                        &.approval-added,
                        &.approval-removed,
                        &.current-added,
                        &.current-removed {
                            background-color: transparent;
                        }
                    }
                }

                /*
                * cursor based on roles
                * role-4 coordinator
                * role-5 managing coordinator
                */
                &.role-5 {
                    &.approved,
                    &.approval {
                        td {
                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
    }
}
