@import "./scss/variables";

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.box-shadow {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}

#root {
    height: 100%;

    .react-datepicker-wrapper {
        display: block;
        max-width: 200px;
    }

    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 60px;
        line-height: 60px;
        background-color: #f5f5f5;

        li {
            padding: 0 0.5rem;
        }
    }

    .app {
        position: relative;
        height: auto;
        min-height: 100%;

        $calendar-margin: 1rem;

        main {
            height: auto;
            min-height: 100%;
            box-sizing: border-box;
            overflow: hidden;
            padding: 60px $calendar-margin 4 * $calendar-margin $calendar-margin;

            h2 {
                margin-top: 1rem;
            }
            h1,
            h2,
            h3,
            h4 {
                margin-bottom: 1rem;
            }

            
            .btn {
                .fas,
                .fa {
                    margin-right: 0.5rem;
                }
            }

            .alert {
                margin-top: 0;
                margin-bottom: $calendar-margin;
                margin-right: 0;
            }

            .input-group {
                padding: 0 20px;
            }

            .btn-toolbar {
                button {
                    &:last-child {
                        margin-right: 0;
                    }
                    margin-right: $calendar-margin;
                    margin-bottom: $calendar-margin;
                }
            }

            .calendar-select {
                margin: $calendar-margin 0 0 $calendar-margin;
                select {
                    max-width: 200px;
                }
            }

            .table-responsive {
                display: flex;
                align-items: center;
                height: 100%;
                width: 100%;
                overflow-y: scroll;
            }

            table.summary-daily,
            table.booking,
            table.technician,
            table.current {
                table-layout: fixed;
                td,
                th {
                    text-align: center;
                }
                td,
                th {
                    width: 50px;
                    &:first-child {
                        width: 150px;
                    }
                    &.weekend {
                        color: $warning-text
                    }
                }
                tr {
                    th:first-child,
                    td:first-child {
                        text-align: center;
                    }
                }

                td {
                    &:hover {
                        cursor: pointer;
                        background-color: $secondary-background;
                    }
                    &.approval {
                        &:hover {
                            background-color: $info-background;
                        }
                        background-color: $info-background;
                        i {
                            color: $info-text;
                            &.default {
                                display: inline;
                            }
                        }
                    }
                    &.editable {
                        background-color: $primary-background;
                        &:hover {
                            background-color: $primary-background;
                        }
                        i {
                            color: $primary-text;
                            &.default {
                                display: inline;
                            }
                        }
                    }
                    &.approved {
                        &:hover {
                            background-color: $success-background;
                        }
                        background-color: $success-background;
                        i {
                            color: $success-text;
                            &.default {
                                display: inline;
                            }
                        }
                    }
                    &.approval-added,
                    &.approved-added,
                    &.current-added {
                        &:hover {
                            background-color: $warning-background;
                        }
                        background-color: $warning-background;
                        i {
                            color: $warning-text;
                        }
                    }
                    &.approval-removed,
                    &.approved-removed,
                    &.current-removed {
                        &:hover {
                            background-color: $danger-background;
                        }
                        background-color: $danger-background;
                        i {
                            color: $danger-text;
                        }
                    }
                    

                    i {
                        padding: 0;
                        vertical-align: middle;
                        &.default,
                        &.hover {
                            display: none;
                        }
                    }
                }

                thead {
                    font-size: 0.8rem;
                }

                &.editable {
                    td {
                        cursor: pointer;
                    }
                    td.editable {
                        &:hover {
                            i {
                                &.default {
                                    display: none;
                                }
                                &.hover {
                                    display: inline;
                                }
                            }
                        }
                    }
                }
                &.approval {
                    td {
                        cursor: not-allowed;
                    }
                }
            }
        }

        .navbar {
            position: fixed;
            top: 0;
            left: -5vw;
            padding-left: 6vw;
            padding-right: 6vw;
            width: 110vw;
            min-height: $topbar-height;
            z-index: 1000;

            .nav-link {
                color: #007bff;
                &:hover {
                    text-decoration: underline;
                    color: #0056b3;
                    cursor: pointer;
                }
            }

            .dropdown {
                .btn.btn-primary {
                    i {
                        margin-right: 0.5rem;
                    }
                }
            }

            .show-mobile {
                display: none;
            }

            @media only screen and (max-width: 991px) {
                .show-mobile {
                    display: block;
                }
                .dropdown {
                    display: none;
                }
            }
        }

        .login-view,
        .password-reset-view {
            //display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: center;
            height: 100%;
            padding: 60px;

            > div {
                width: 100%;

                header {
                    font-size: 2rem;
                    text-align: center;
                    span {
                        margin-left: 1rem;
                    }
                }

                form {
                    width: 100%;
                    max-width: 500px;
                    padding: 30px;
                    margin: auto;

                    a:last-child {
                        > i {
                            margin-right: 0.5rem;
                        }
                    }
                }
            }
        }
    }

    @import "./scss/components/legend";
    @import "./scss/components/common";
    @import "./scss/calendars/summary-daily";
    @import "./scss/calendars/technician";
    @import "./scss/calendars/current";
    @import "./scss/calendars/booking";
}
